	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/11/2017 15:01
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-wifi:before { content: "\f100"; }
.flaticon-blueetooth-logo:before { content: "\f101"; }
.flaticon-newspaper:before { content: "\f102"; }
.flaticon-progress-report:before { content: "\f103"; }
.flaticon-decision-making:before { content: "\f104"; }
.flaticon-analysis:before { content: "\f105"; }
.flaticon-big-map-placeholder-outlined-symbol-of-interface:before { content: "\f106"; }
.flaticon-bar-chart:before { content: "\f107"; }
.flaticon-database:before { content: "\f108"; }
.flaticon-network:before { content: "\f109"; }
.flaticon-factory:before { content: "\f10a"; }
.flaticon-weather:before { content: "\f10b"; }
.flaticon-summer:before { content: "\f10c"; }
.flaticon-temperature:before { content: "\f10d"; }
.flaticon-megaphone:before { content: "\f10e"; }
.flaticon-wifi-connection-signal-symbol:before { content: "\f10f"; }
.flaticon-wind-mill:before { content: "\f110"; }
.flaticon-pressure:before { content: "\f111"; }
.flaticon-soil:before { content: "\f112"; }